body {
    padding: 0%;
    margin: 0%;
    background-color: transparent;
}

/* .bg {
    background-image: url(../background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
} */
.asd{
    background-color: black;
    opacity: 0.4;
}
.navbar-toggler {
    border: none;
    background: transparent !important;
  }
  
  .navbar-toggler:focus {
    outline: none;
    background: transparent !important;
  }
  
  .navbar-toggler .icon-bar {
    background-color: #fff;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
  }
  
  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  
  .navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
  }
  
  .icon-bar:nth-child(2) {
    width: 16px;
    transition: ease all .2s;
  }
  
  .navbar-toggler:hover>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  }
  
  .navbar-toggler:active>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s;
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s;
  }
  
  .sec-accent {
    background-color: #fafcf5;
  }
  .logo0 {
    float: left;
    height: 9%;
    width: 10%;
  }
  .blue {
    background-color: #9999cc;
  }
 .bg-dark {
   background-color: rgba(37, 77, 77, 0.4);
   font-family: Raleway;
 }
 .page-footer {
   text-align: center !important;
   background-color: rgb(159, 221, 221);
 }

.social{
  text-decoration: none;
  color: rgb(0, 29, 29);
}
.social:hover{
  color: rgb(2, 161, 161);
}
.overlay {
    font-family: Raleway;
    text-align: center;
    padding-top: 14%;
    z-index: -1;
}

.overlay h1{
	font-size: 1300%;
	font-family:  Raleway;
    background-color: rgba(1, 97, 97, 0.349);
    color: #b0bdca4f;
}
.intro {
    padding-top: -80%;
    color: white;
    z-index: 1;
}
.myBtn {
    padding: 24px 48px;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    font-size: 320%;
}
.header {
    font-family: Raleway;
    background-image: url(bg.jpg);
    text-align: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.row {
    margin: 0%;
}
.content {
    background-color: rgb(0 29 29);
    color: white;
    text-align: center;
    font-family: 'Raleway';
    padding: 28%;
    font-size: 130%;
}
.content1 {
    background-color: rgb(0 29 29);
    color: white;
    text-align: center;
    font-family: 'Raleway';
    padding: 10% 10%;
    font-size: 130%;
}
.line {
    height: 20vh;
    border-left: 1px solid rgb(255, 255, 255);
    color: black;
    float: right;
    padding-left: 20xp;
}
.col-lg-4 {
    padding-right: 0%;
}
.col-lg-8 {
    padding-left: 0%;
}
.service {
    background-color:rgb(0, 17, 17) ;
    height: 80vh;
    padding-top: 05.5%;
}
.col-lg-6 {
    background-image: url(123.jpg);
    height: 60vh;
}
.service-cntnt {
    color: white;
    font-family: Raleway;
    font-size: 170%;
    text-align: center;
    padding-top: 04%;
    font-weight: bolder;
}
.lavish {
    text-align: center;
    background-color: rgb(0 29 29);
    color: white;
    font-family: Raleway;
    height: 24.9vh;
    border: 1px white;
    padding: 24px;
}

.lavish h2 {
	padding: 20px 10px;
	border: 1px solid white;
	font-weight: 700;
}
.col-lg-10  {
    text-align: center;
    background-color:rgb(1, 97, 97);
    margin-left: 8%;
    height: 20vh;
    color: white;
    font-family: Raleway;
}
.col-lg-10 h2 {
    padding-top: 5%;
}

@media only screen and (max-width: 600px) {
    .intro {
        font-size: 70%;
        font-family: Raleway;
        color: rgb(255, 255, 255);
        text-align: center;
        border: 1px white;
        padding-top: 90%;
    }
    .overlay {
        display: none;
    }
    .col-lg-4 {
        padding-right: 4%;
    }
    .col-lg-8 {
        padding-left: 4%;
    }
    .line {
        display: none;
    }
    .lavish {
        height: 44.2vh;
    }
    .service {
        background-color:rgb(0, 17, 17) ;
        height: 64.9vh;
    }
    .service-cntnt {
        color: white;
        text-align: center;
        padding-top: 20%;
    }
    .col-lg-10  {
        margin-left: 0%;
        padding-top: 13%;
    }
    .col-lg-10 h2 {
      font-size: 120%;
    }
}

@media only screen and (min-width:749px) and (max-width:1000px){
  .header {
    height: 96vh;
  }
  .overlay {
    font-size: 66%;
    padding-top: 60%;
    text-align: center;
    z-index: -1;
  }
  .intro {
    margin-top: -20%;
    z-index: -1;
  }
  .col-lg-10 {
    margin-left: 0%;
  }
  .col-lg-10 h2 {
    padding-top: 10%;
  }
  .intro {
    font-size: 70%;
    font-family: Raleway;
    color: rgb(255, 255, 255);
    text-align: center;
    border: 1px white;
    padding-top: 59%;
  }
  .col-lg-4 {
    padding-right: 2%;
    height: 18vh;
  }
  .content {
    padding-top: 13%;
  }
  .col-lg-8 {
    padding-left: 2%;
    /* height: 20vh; */
  }
  .lavish {
    padding-top: 6%;
  }
  .service-cntnt {
    padding-top: 20%;
  }
  .service {
    padding-top: 13%;
  }
}

@media only screen and (min-width: 1020px) and (max-width: 1030px) {
  .active1 {
    margin-bottom: 0%;
  }
  .overlay {
    padding-top: 50%;
  }
  .overlay h1 {
    font-size: 1100%;
  }
  .content {
    height: 18.5vh;
    padding-top: 34%;  }
  .service{
    height: 48vh;
  }
  .service-cntnt {
    height: 40vh;
    padding-top: 10%;
  }
  .col-lg-8 {
    padding-left: 2%;
    /* height: 20vh; */
  }
  .lavish {
    padding-top: 3%;
    height:13vh;
  }
  .col-lg-10 {
    height: 10vh;
  }
}